# Postgres
POSTGRES_PORT=5432

# Node
NODE_PORT=3000
NODE_ENV=production

# DB credentials
POSTGRES_USER=prisma
POSTGRES_PASSWORD=prisma
POSTGRES_DB=app_db

DATABASE_URL=postgresql://prisma:prisma@localhost:5432/app_db


JWT_SECRET=fbb7d3a529367768f6ae3ca8110fa68a91bf6f7f7a312ccecc04b61e9dd731bc
JWT_ACCESS_EXPIRY=900000 # 15m
JWT_REFRESH_EXPIRY=604800000 #7d