# ======================
# NODE MODULES
# ======================
node_modules/
/prisma/generated/
# ======================
# ENV FILES
# ======================
.env
.env.*
!.env.example

# ======================
# BUILD FILES
# ======================
dist/
build/
coverage/

# ======================
# TYPESCRIPT
# ======================
*.tsbuildinfo

# ======================
# LOGS
# ======================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ======================
# PRISMA
# ======================
src/generated/prisma/
src/generated/client/

# prisma sqlite db (if ever used)
prisma/*.db
prisma/*.db-journal

# ======================
# DOCKER
# ======================
docker-data/
postgres-data/

# docker override/local files
docker-compose.override.yml

# ======================
# IDE
# ======================
.vscode/
.idea/

# ======================
# OS FILES
# ======================
.DS_Store
Thumbs.db

# ======================
# TEMP FILES
# ======================
tmp/
temp/

# ======================
# CACHE
# ======================
.cache/